<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<meta http-equiv="X-UA-Compatible"  content="text/html; charset=utf-8">
		<meta name="description" content="LASO: Learn ARM with Source Open" />
		<link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/stylesheet.css">
		    <link rel="stylesheet" href="stylesheets/stylesheet2.css" type="text/css" media="screen" charset="utf-8"/>
		    <script type="text/javascript">
		
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-31298041-1']);
			  _gaq.push(['_trackPageview']);
			
			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
			
		   </script>
		<title>{{ page.title }}</title>
	</head>

<body>		
	<!-- HEADER -->
	 <div id="header_wrap" class="outer">
		<header class="inner">
			<a id="forkme_banner" href="https://github.com/chyyuu/ucore_lab">Fork Me on GitHub</a>
			<h1 id="project_title">Ucore Labs</h1>
			<h2 id="project_tagline">Ucore Lab 1-8 codes and docs for OS course in Tsinghua University</h2>  
		</header>
	</div>   		     

	<div id="main_content_wrap" class="outer">
		<section id="main_content" class="inner">
			<div>
			  <a href='../index.html'>首页</a> &nbsp; &nbsp; &nbsp; &nbsp;
			  <a href='../index.html'>目录索引</a> &nbsp; &nbsp; &nbsp; &nbsp;				  
				  <a href='../index.html'>资料下载</a> &nbsp; &nbsp; &nbsp; &nbsp;
				  <a href='../index.html'>代码下载</a> &nbsp; &nbsp; &nbsp; &nbsp;
				  <a href='../index.html'>联系作者</a> &nbsp; &nbsp; &nbsp; &nbsp;				  
				</div>	
				<div align=right>
				  <a href="http://www.ucore.org.cn" target=_blank>下载PDF打印版本</a>
				</div>
				
				<div id='content'>
				{{ content }}
				<div class='clearfix'></div>
				</div>
		
				<div id="disqus_thread"></div>
				<script type="text/javascript">
				    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
				    var disqus_shortname = 'lumit'; // required: replace example with your forum shortname
				
				    /* * * DON'T EDIT BELOW THIS LINE * * */
				    (function() {
				        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
				        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				    })();
				</script>
				<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
				<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

  			</section>
	     	</div>  
			
	     	    <!-- FOOTER  -->
		    <div id="footer_wrap" class="outer">
		      <footer class="inner">
		        <p class="copyright">ucore maintained by <a href="https://github.com/chyyuu">chen yu</a></p>
		        <p>Published with <a href="http://pages.github.com">GitHub Pages</a> and powered by <a href='http://github.com/mojombo/jekyll'>Jekyll</a>.</p>
		      </footer>
		    </div>  
		
	</body>
</html>

